@inject SessionUtils SessionUtils

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="icon" href="data:;base64,iVBORwOKGO=" />
    @*<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />*@
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.min.css" rel="stylesheet" />

</head>
<body>
    <div class="navbar-wrapper">
        <div class="container-fluid">
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/Home"><img src="~/img/logo.png" height="50" width="50" style="float:left; margin-top:-15px; margin-right: 15px;"/>INFO3067 Casestudy</a>
                </div>
                <div class="col-md-2"></div>
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    @*<span class="pull-right" style="padding-right:5%;padding-top:1%;">@Context.Session.GetString(SessionVars.LoginStatus)</span>*@
                    <ul class="nav navbar-nav" id="menu">
                        <li><a href="/Home">Home</a></li>
                        <li><a href="/Data">Data Refresh</a></li>
                        <li><a href="/Brand">Brands</a></li>
                        <li><a href="/Register">Register</a></li>
                        <li><a href="/Cart/List">Orders</a></li>
                        <li><a href="/Branch">Branches</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">

                        @if (SessionUtils.CartContainsItems())
                        {
                            <li>
                                <a>
                                    <span class="glyphicon glyphicon-user" style="padding-right: 5px;"></span>@Context.Session.GetString(SessionVars.LoginStatus)
                                </a>
                            </li>
                            <li><a style="margin-right: 50px;" href="/Cart"><span class="glyphicon glyphicon-shopping-cart" style="padding-right: 5px;"></span>@SessionUtils.GetCartSize() Items</a></li>
                        }
                        else
                        {
                            <li>
                                <a style="margin-right: 50px;">
                                    <span class="glyphicon glyphicon-user" style="padding-right: 5px;"></span>@Context.Session.GetString(SessionVars.LoginStatus)
                                </a>
                            </li>
                        }

                        @if (@SessionUtils.UserExists())
                        {
                            <li><a href="/Login/Logoff" style="margin-right: 50px;">Logoff</a></li>
                        }
                        else
                        {
                            <li><a href="/Login" style="margin-right: 50px;">Login</a></li>
                        }
                    </ul>
                </div>
            </nav>
        </div>
        </div>
            <div style="padding-top:5%;">
                @RenderBody()
            </div>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
            <script src="~/js/jquery.validate.min.js"></script>
            <script src="~/js/jquery.validate.unobtrusive.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <script src="~/js/site.min.js"></script>
</body>
</html>
